@model LibraryApp.Models.BorrowingConfig

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BorrowingConfig</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanDurationDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanDurationDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxRenewals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxRenewals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxItemsPerMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxItemsPerMember)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyPenalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyPenalty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPenaltyCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPenaltyCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GracePeriodDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GracePeriodDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowRenewals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowRenewals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowReservations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowReservations)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
